* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}
ol,
ul,
menu {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
}
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.home {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: aliceblue;
}
.home::before{
	content:"" ;
	position: absolute;
	background-color:rgba(62, 62, 230, 0.253);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.nav{
	display: flex;
	padding-top: 75px ;
	justify-content: space-between;
	align-items: center;
	padding-top: 75px;
	
}
.nav__list{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__item{
	margin-right: 26px;
	
}
.nav__link{
	font-weight: 600;
	font-size:18px;
	line-height: 25px;
	
}
.nav__link:hover{
	color: black;
}
.home__name{
	position: absolute;
	width: 648px;
	height: 311px;
	font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  display: flex;
  flex-direction: column;




}